<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${categories} and ${categories.size()}">no categories :(</p>

<ul>
    <li th:each="category : ${categories}">
        <a th:href="'/cheese/category/' + ${category.id}" th:text="${category.name}"></a>
    </li>
</ul>
<a href="/category/add">Add Category</a>

</body>
</html>