<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${form}" action="/menu/add-item">
    <div class="form-group">
        <label th:for="cheeseId">Cheese</label>
        <select name="cheeseId">
            <option th:each="cheese : *{cheeses}"
                    th:text="${cheese.name}"
                    th:value="${cheese.id}"></option>
        </select>
        <span th:errors="*{cheeseId}" class="error"></span>
    </div>

    <input type="hidden" name="menuId" th:value="*{menu.id}" />
    <input type="submit" value="Add Item" />
</form>

</body>
</html>