<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<p th:unless="${menu} and ${menu.cheeses} and ${menu.cheeses.size()}">No cheeses yet</p>

<ul>
    <li th:each="cheese : ${menu.cheeses}" th:text="${cheese.name}"></li>
</ul>

<p><a th:href="'/menu/add-item/' + ${menu.id}">Add Cheese</a></p>

</body>
</html>